<!-- Botões de ação -->
<div class="container text-center my-4">
    <div class="btn-group" role="group" aria-label="Ações">
        <!-- Botão "Voltar" não será parte do grupo de botões -->
        <a href="/" class="btn btn-outline-light">Voltar</a>
    </div>
</div>

{{!-- Nova tela de cadastro --}}
<div class="container mt-3">
    <div class="container rounded-3 p-4 glass-pattern">
        <!-- Formulário -->
        <form id="form" action="/v2/register" method="POST">
            <div class="col">
                {{!-- Nome de usuário --}}
                <div class="input-group mb-3">
                    <span class="input-group-text label-highlight" style="width: 150px;">Nome de Usuário</span>
                    <input name="name" type="text" class="form-control" placeholder="Escolha um bom nome de usuário"
                        aria-label="E-mail" aria-describedby="email-login">
                </div>
                {{!-- Nome de E-mail --}}
                <div class="input-group mb-3">
                    <span class="input-group-text label-highlight" style="width: 150px;">E-mail</span>
                    <input name="email" type="email" class="form-control" placeholder="Digite seu e-mail"
                        aria-label="E-mail" aria-describedby="email-login">
                </div>
                {{!-- Profissão --}}
                <div class="input-group mb-3">
                    <span class="input-group-text label-highlight" style="width: 150px;">Profissão</span>
                    <input name="occupation" type="text" class="form-control"
                        placeholder="Meu sonho era ser um padeiro, e o seu?" aria-label="E-mail"
                        aria-describedby="email-login">
                </div>
                {{!-- Cargo, invisível na tela de cadastros --}}
                <div class="input-group mb-3">
                    <span class="input-group-text label-highlight" style="width: 150px;">Profissão</span>
                    <input name="role" value="Admin" class="form-control" placeholder="Meu sonho era ser um padeiro, e o seu?"
                        aria-label="E-mail" aria-describedby="email-login">
                </div>
                {{!-- Senha --}}
                <div class="input-group mb-3">
                    <span class="input-group-text label-highlight" style="width: 150px;">Senha</span>
                    <div class="form-floating">
                        <input name="hash" type="password" class="form-control" id="floatingInputGroup1"
                            placeholder="Senha">
                        <label for="floatingInputGroup1">Não vai esquecer, hein?</label>
                    </div>
                </div>
                {{!-- Campos auxiliares --}}
                <div class="container d-flex">
                    {{!-- Checkbox --}}
                    <div class="form-check mb-3">
                        <input name="newsletter" type="checkbox" class="form-check-input" id="lembrar-login">
                        <label class="form-check-label text-light" for="lembrar-login">Concorda em vender seus dados
                            para a
                            evilcorp ao enviar esse formulário?</label>
                    </div>
                    <!-- Ajuda -->
                    <button class="btn btn-outline-light mb-3 ms-auto" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions"
                        aria-controls="offcanvasWithBothOptions">Ajuda</button>

                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1"
                        id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                            <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Ajuda</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <h2>Sistema de Roles (RBAC)</h2>
                            <p>RBAC (Role-Based Access Control) é um modelo de controle de acesso onde as permissões são
                                atribuídas com base nas
                                funções dos usuários. Cada função tem um conjunto de permissões, garantindo que os
                                usuários
                                só
                                acessem o que
                                precisam para suas atividades.</p>
                            <h2>Exemplo:</h2>
                            <ul>
                                <li><strong>Administrador:</strong> Acesso total para criar, editar e excluir.</li>
                                <li><strong>Desenvolvedor (DEV):</strong> Acesso para modificar configurações e criar
                                    novos
                                    recursos, mas sem
                                    permissões para excluir dados.</li>
                                <li><strong>Usuário comum:</strong> Acesso apenas para visualizar dados.</li>
                            </ul>
                            <p>Isso facilita a gestão de permissões e melhora a segurança do sistema.</p>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn w-100 btn-outline-success">Entrar</button>
            </div>
        </form>
    </div>
</div>