<!-- Botões de ação -->
<div class="container text-center my-4">
    <div class="btn-group" role="group" aria-label="Ações">
        <!-- Botão "Voltar" não será parte do grupo de botões -->
        <a href="/" class="btn btn-outline-light">Voltar</a>
    </div>
</div>

<div class="container mt-3">
    <div class="container rounded-3 p-4 glass-pattern">
        <!-- Formulário -->
        <form id="form" action="/v2/login" method="POST">
            <div class="col">
                <!-- Botão "Login" removido -->
                <!-- Campos do formulário visíveis por padrão -->
                <div class="input-group mb-3">
                    <span class="input-group-text label-highlight">E-mail</span>
                    <input name="email" type="email" class="form-control" placeholder="Digite seu e-mail"
                        aria-label="E-mail" aria-describedby="email-login">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text label-highlight">Senha</span>
                    <div class="form-floating">
                        <input name="hash" type="password" class="form-control" id="floatingInputGroup1"
                            placeholder="Senha">
                        <label for="floatingInputGroup1">Lembra da sua senha, né?</label>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="lembrar-login">
                    <label class="form-check-label text-light" for="lembrar-login">Lembrar último login</label>
                </div>
                <button type="submit" class="btn w-100 btn-outline-success">Entrar</button>
            </div>
        </form>
    </div>
</div>


</form>
<script src="/javascripts/notification.js" defer></script>
<script src="/javascripts/password-eval.js" defer></script>
</div>