{{!-- Botões de ação --}}
<div class="container text-center my-4">
    <div class="btn-group" role="group" aria-label="Ações">
        <!-- Botão "Voltar" não será parte do grupo de botões -->
        <a href="/" class="btn btn-outline-dark">Voltar</a>
    </div>
</div>

{{!-- Painel de gestão --}}
<div class="container-sm bg-dark text-light justify-content border rounded">
    <form id="form" action="/v2/register" method="post">

        {{!-- Usuário --}}
        <div class="input-group mt-3 mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Usuário</span>
            <input type="text" class="form-control bg-light text-dark focus-ring focus-ring-secondary"
                placeholder="Usuário" aria-label="Username" aria-describedby="basic-addon1" name="name" required>
        </div>

        {{!-- E-mail --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">E-mail</span>
            <input type="text" class="form-control bg-light text-dark focus-ring focus-ring-secondary"
                placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1" name="email" required>
        </div>

        {{!-- Profissão --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Profissão</span>
            <select class="form-select bg-light text-dark focus-ring focus-ring-secondary" id="inputGroupSelect01"
                name="occupation" required>
                <option selected>Escolha a profissão</option>
                <option value="Desenvolvedor">Desenvolvedor</option>
                <option value="Designer">Designer</option>
                <option value="Analista">Analista</option>
                <option value="Gerente">Gerente</option>
                <option value="Contabilista">Contabilista</option>
            </select>
        </div>

        {{!-- Cargo --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Cargo</span>
            <select class="form-select bg-light text-dark focus-ring focus-ring-secondary"
                aria-label="Default select example" name="role" required>
                <option selected>Escolha o cargo</option>
                <option value="1">Dev</option>
                <option value="2">Admin</option>
                <option value="2">User</option>
            </select>
        </div>

        {{!-- Senha --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Senha</span>
            <input id="password" type="password" class="form-control" placeholder="Senha" aria-label="Password"
                aria-describedby="Password" name="hash" required>
            <div id="passwordAlert" class="invalid-feedback">
            </div>
        </div>

        <div class="d-flex align-items-center">

            {{!-- Botão de envio --}}
            <button type="submit" class="btn btn-outline-light mb-3">Criar usuário</button>

            <!-- Ajuda -->
            <button class="btn btn-outline-light ms-2 mb-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Ajuda</button>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Ajuda</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h2>Sistema de Roles (RBAC)</h2>
                    <p>RBAC (Role-Based Access Control) é um modelo de controle de acesso onde as permissões são
                        atribuídas com base nas
                        funções dos usuários. Cada função tem um conjunto de permissões, garantindo que os usuários só
                        acessem o que
                        precisam para suas atividades.</p>
                    <h2>Exemplo:</h2>
                    <ul>
                        <li><strong>Administrador:</strong> Acesso total para criar, editar e excluir.</li>
                        <li><strong>Desenvolvedor (DEV):</strong> Acesso para modificar configurações e criar novos
                            recursos, mas sem
                            permissões para excluir dados.</li>
                        <li><strong>Usuário comum:</strong> Acesso apenas para visualizar dados.</li>
                    </ul>
                    <p>Isso facilita a gestão de permissões e melhora a segurança do sistema.</p>
                </div>
            </div>

            {{!-- Checkbox --}}
            <div class="form-check ms-3 mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="newsletter" name="newsletter" checked>
                <label class="form-check-label" for="newsletter">Aceita receber notificações?</label>
            </div>

            <small class="ms-auto">v1.2.0❄️</small>
        </div>

    </form>
    <script src="/javascripts/notification.js" defer></script>
    <script src="/javascripts/password-eval.js" defer></script>
</div>