<h1>Ambiente de testes</h1>

<div class="container d-flex justify-content-center align-items-center">
    <h3 id="counter">0</h3>
</div>

<br>

{{!-- Dashboard do usuário --}}
<div class="border border-warning">

    {{!-- Contadores & Nav --}}
    <div class="container text-center my-4">
        <div class="d-flex justify-content-start align-items-center">
            <!-- Botões de Ação -->
            <div class="btn-group" role="group" aria-label="Ações">
                <a href="/v1/users/register" class="btn btn-outline-dark">Cadastrar</a>
                <a href="/v1/dashboard" class="btn btn-outline-dark">Dashboard</a>
            </div>

            <!-- Contadores -->
            {{!-- text-success, warning, info, danger --}}
            <div class="btn-group" role="group" aria-label="Contador">
                <h3 id="tasks" class="ms-4">0</h3>
                <h3 id="tasks" class="text-success ms-4">0 Concluído</h3>
                <h3 id="tasks" class="text-danger ms-4">0 Cancelado</h3>
                <h3 id="tasks" class="text-info ms-4">0 Média de prod.</h3>
            </div>

            <!-- Perfil em backdrop -->
            <button class="btn btn-outline-dark ms-4" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Ajuda</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Guia Básico</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <hr>
                    <h4>Grande</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aspernatur modi incidunt!
                        Possimus fuga rem illum corrupti eius, iusto, nihil enim dolor, libero maiores est ad
                        accusantium reprehenderit inventore omnis.</p>
                    <h5>Médio</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae nam repudiandae provident vitae
                        odio veritatis dolorem, nesciunt velit molestiae deserunt, soluta et eius alias a ex nemo. Modi,
                        cum obcaecati!</p>
                    <h6>Pequeno</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum earum esse quisquam accusantium
                        fugit, nobis assumenda placeat optio ratione eaque quo nulla sapiente itaque, nam officia
                        praesentium recusandae laudantium. Temporibus!</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p><small>Todos os contadores terão animações; a sessão com as tarefas devem ser responsivas sempre, além de
                terem
                animações para exclusão; o botão de 'ajuda' deve trazer um alerta lateral, suave, como
                notificação</small></p>
    </div>

    {{!-- Tarefas --}}
    <div class="container mb-4">
        {{!-- Começo --}}

        <div class="row g-3">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Tarefa</h5>
                        <h6 class="card-subtitle mb-2 text-success">Concluído</h6>
                        <h6 class="card-subtitle mb-2 text-warning">Pendente</h6>
                        <h6 class="card-subtitle mb-2 text-info">Em progresso</h6>
                        <h6 class="card-subtitle mb-2 text-danger">Cancelado</h6>
                        <p class="card-text">Desenvolver tela de usuários</p>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-primary" type="button">Confirmar</button>
                            <select class="form-select" id="inputGroupSelect03"
                                aria-label="Example select with button addon">
                                <option selected>Ação</option>
                                <option value="1">Pendente</option>
                                <option value="2">Em progresso</option>
                                <option value="3">Concluído</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Tarefa</h5>
                        <h6 class="card-subtitle mb-2 text-success">Concluído</h6>
                        <h6 class="card-subtitle mb-2 text-warning">Pendente</h6>
                        <h6 class="card-subtitle mb-2 text-info">Em progresso</h6>
                        <h6 class="card-subtitle mb-2 text-danger">Cancelado</h6>
                        <p class="card-text">Desenvolver tela de usuários</p>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-primary" type="button">Confirmar</button>
                            <select class="form-select" id="inputGroupSelect03"
                                aria-label="Example select with button addon">
                                <option selected>Ação</option>
                                <option value="1">Pendente</option>
                                <option value="2">Em progresso</option>
                                <option value="3">Concluído</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Tarefa</h5>
                        <h6 class="card-subtitle mb-2 text-success">Concluído</h6>
                        <h6 class="card-subtitle mb-2 text-warning">Pendente</h6>
                        <h6 class="card-subtitle mb-2 text-info">Em progresso</h6>
                        <h6 class="card-subtitle mb-2 text-danger">Cancelado</h6>
                        <p class="card-text">Desenvolver tela de usuários</p>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-primary" type="button">Confirmar</button>
                            <select class="form-select" id="inputGroupSelect03"
                                aria-label="Example select with button addon">
                                <option selected>Ação</option>
                                <option value="1">Pendente</option>
                                <option value="2">Em progresso</option>
                                <option value="3">Concluído</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Tarefa</h5>
                        <h6 class="card-subtitle mb-2 text-success">Concluído</h6>
                        <h6 class="card-subtitle mb-2 text-warning">Pendente</h6>
                        <h6 class="card-subtitle mb-2 text-info">Em progresso</h6>
                        <h6 class="card-subtitle mb-2 text-danger">Cancelado</h6>
                        <p class="card-text">Desenvolver tela de usuários</p>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-primary" type="button">Confirmar</button>
                            <select class="form-select" id="inputGroupSelect03"
                                aria-label="Example select with button addon">
                                <option selected>Ação</option>
                                <option value="1">Pendente</option>
                                <option value="2">Em progresso</option>
                                <option value="3">Concluído</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Tarefa</h5>
                        <h6 class="card-subtitle mb-2 text-success">Concluído</h6>
                        <h6 class="card-subtitle mb-2 text-warning">Pendente</h6>
                        <h6 class="card-subtitle mb-2 text-info">Em progresso</h6>
                        <h6 class="card-subtitle mb-2 text-danger">Cancelado</h6>
                        <p class="card-text">Desenvolver tela de usuários</p>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-primary" type="button">Confirmar</button>
                            <select class="form-select" id="inputGroupSelect03"
                                aria-label="Example select with button addon">
                                <option selected>Ação</option>
                                <option value="1">Pendente</option>
                                <option value="2">Em progresso</option>
                                <option value="3">Concluído</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Tarefa</h5>
                        <h6 class="card-subtitle mb-2 text-success">Concluído</h6>
                        <h6 class="card-subtitle mb-2 text-warning">Pendente</h6>
                        <h6 class="card-subtitle mb-2 text-info">Em progresso</h6>
                        <h6 class="card-subtitle mb-2 text-danger">Cancelado</h6>
                        <p class="card-text">Desenvolver tela de usuários</p>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-primary" type="button">Confirmar</button>
                            <select class="form-select" id="inputGroupSelect03"
                                aria-label="Example select with button addon">
                                <option selected>Ação</option>
                                <option value="1">Pendente</option>
                                <option value="2">Em progresso</option>
                                <option value="3">Concluído</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Fim --}}
    </div>

</div>

<br>

{{!-- Painel de gestão --}}
<div class="container-sm bg-dark text-light justify-content border rounded">
    <form id="form" action="/" method="post">

        {{!-- Usuário --}}
        <div class="input-group mt-3 mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Usuário</span>
            <input type="text" class="form-control bg-light text-dark focus-ring focus-ring-secondary"
                placeholder="Usuário" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        {{!-- E-mail --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">E-mail</span>
            <input type="text" class="form-control bg-light text-dark focus-ring focus-ring-secondary"
                placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        {{!-- Profissão --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Profissão</span>
            <select class="form-select bg-light text-dark focus-ring focus-ring-secondary" id="inputGroupSelect01">
                <option selected>Escolha a profissão</option>
                <option value="Desenvolvedor">Desenvolvedor</option>
            </select>
        </div>

        {{!-- Cargo --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Cargo</span>
            <select class="form-select bg-light text-dark focus-ring focus-ring-secondary"
                aria-label="Default select example">
                <option selected>Escolha o cargo</option>
                <option value="Dev">Dev</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>

        {{!-- Senha --}}
        <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1" style="width: 100px;">Senha</span>
            <input id="password" type="password" class="form-control" placeholder="Senha" aria-label="Password"
                aria-describedby="Password" name="hash" required>
            <div id="passwordAlert" class="invalid-feedback">
            </div>
        </div>

        <div class="d-flex align-items-center">

            {{!-- Botão de envio --}}
            <button type="button" class="btn btn-outline-light mb-3">Criar usuário</button>

            <!-- Ajuda -->
            <button class="btn btn-outline-light ms-2 mb-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Ajuda</button>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Guia Básico</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <hr>
                    <h2>Teste</h2>
                </div>
            </div>

            {{!-- Checkbox --}}
            <div class="form-check ms-3 mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="">
                <label class="form-check-label" for="flexCheckDefault">
                    Enviar notificações?
                </label>
            </div>

            <small class="ms-auto">v1.2.0</small>
        </div>
        
    </form>
    <script src="/javascripts/notification.js" defer></script>
    <script src="/javascripts/password-eval.js" defer></script>
</div>

<br>

{{!-- Contador --}}
<script>
    // Garantir que o DOM está completamente carregado
    document.addEventListener('DOMContentLoaded', function () {
        // Configurar o contador
        const options = {
            startVal: 0,         // Valor inicial
            duration: 30,         // Duração da animação (em segundos)
            decimalPlaces: 0,    // Número de casas decimais
            suffix: ' Usuários',         // Sufixo (se necessário)
        };

        // Criar o contador
        const counter = new CountUp('counter', 0, 500, 0, 3, options);

        // Iniciar a animação
        if (!counter.error) {
            counter.start();
        } else {
            console.error(counter.error);
        }
    });

    // Garantir que o DOM está completamente carregado
    document.addEventListener('DOMContentLoaded', function () {
        // Configurar o contador
        const options = {
            startVal: 0,         // Valor inicial
            duration: 30,         // Duração da animação (em segundos)
            decimalPlaces: 0,    // Número de casas decimais
            suffix: ' Tarefas',         // Sufixo (se necessário)
        };

        // Criar o contador
        const counter = new CountUp('tasks', 0, 6, 0, 3, options);

        // Iniciar a animação
        if (!counter.error) {
            counter.start();
        } else {
            console.error(counter.error);
        }
    });

</script>