<div class="bg-dark bg-gradient text-light py-3">
    <h1>Olá, bem vindo ao SequelModel</h1>
</div>

<div class="container text-center my-4">
    <h2>
        <a href="/users/register" class="btn btn-light btn-lg mx-2">Cadastrar</a>
    </h2>
    <h2>
        <a href="/users/dashboard" class="btn btn-light btn-lg mx-2">Dashboard</a>
    </h2>
</div>