<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{title}}</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

  <!-- Bootstrap Framework -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWGIE0IVeYX4v8WWZ5fh2K9GbJJlhq53sDG1KqTP1yPqMiOmWf5Hga2iiZNLKpG2" crossorigin="anonymous">

  <!-- Custom Styles -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pwhk8f77Q3BsIHqz6Pu9shNdBh9z+faeeRt3NsfFwW7I12oBaj+K1bXn8dJ9PlD4"
    crossorigin="anonymous"></script>
</body>

</html>