<div class="container text-center my-4">
    <div class="btn-group" role="group" aria-label="Ações">
        <!-- Botão "Voltar" não será parte do grupo de botões -->
        <a href="/" class="btn btn-outline-dark">Voltar</a>
        <a href="/users/dashboard" class="btn btn-outline-dark">Dashboard</a>
    </div>
</div>

<div class="container-sm justify-content">
    <form id="form" action="/users/register" method="post">
        {{!-- Input1 --}}
        <div class="input-group mb-3">
            <span class="input-group-text text-light bg-dark">Username</span>
            <input type="text" class="form-control" placeholder="Nome de Usuário" aria-label="Username"
                aria-describedby="basic-addon1" name="name" required>
        </div>

        {{!-- Input2 --}}
        <div class="input-group mb-3">
            <span class="input-group-text text-light bg-dark">E-mail</span>
            <input type="email" class="form-control" placeholder="E-mail principal" aria-label="Email"
                aria-describedby="basic-addon2" name="email" required>
        </div>

        {{!-- Input3 --}}
        <div class="input-group mb-3">
            <span class="input-group-text text-light bg-dark">Profissão</span>
            <select class="form-select" id="occupation" name="occupation" aria-label="Profissão" required>
                <option value="Desenvolvedor">Desenvolvedor</option>
                <option value="Designer">Designer</option>
                <option value="Analista">Analista</option>
                <option value="Gerente">Gerente</option>
                <option value="Contabilista">Contabilista</option>
            </select>
        </div>

        {{!-- Input4 --}}
        <div class="input-group mb-3">
            <span class="input-group-text text-light bg-dark">Senha</span>
            <input id="password" type="password" class="form-control" placeholder="Senha" aria-label="Password"
                aria-describedby="Password" name="hash" required>
            <div id="passwordAlert" class="invalid-feedback">

            </div>
        </div>

        {{!-- Input5 --}}
        <div class="form-check form-switch mt-2">
            <input class="form-check-input" type="checkbox" role="switch" id="newsletter" name="newsletter" checked>
            <label class="form-check-label" for="newsletter">Aceita receber notificações?</label>
        </div>

        {{!-- Submit --}}
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

<script src="/javascripts/notification.js" defer></script>
<script src="/javascripts/password-eval.js" defer></script>