<div class="bg-dark bg-gradient text-light py-3">
    <h1>🔎Informações de {{user.name}}</h1>
</div>

<div class="container text-center my-4">
    <h2 class="btn btn-lg mx-2">
        <a href="/users/dashboard">Voltar</a>
    </h2>
</div>

<div class="container justify-content">
    <form action="/users/register" method="post">
        {{!-- Input1 --}}
        <div class="input-group mb-3">
            <span class="input-group-text">Username</span>
            <input id="name" value="{{user.name}}" type="text" class="form-control" placeholder="Nome de Usuário"
                aria-label="Username" aria-describedby="basic-addon1" name="name" disabled>
        </div>

        {{!-- Input2 --}}
        <div class="input-group mb-3">
            <span class="input-group-text">E-mail</span>
            <input id="email" value="{{user.email}}" type="email" class="form-control" placeholder="E-mail principal"
                aria-label="Email" aria-describedby="basic-addon2" name="email" disabled>
        </div>

        {{!-- Input3 --}}
        <div class="input-group mb-3">
            <span class="input-group-text">Profissão</span>
            <input id="occupation" value="{{user.occupation}}" type="email" class="form-control"
                placeholder="E-mail principal" aria-label="Email" aria-describedby="basic-addon2" name="email" disabled>
        </div>

        {{!-- Input4 --}}
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Aceitou receber notificações?</label>
            <select name="newsletter" id="newsletter" class="form-select" disabled>
                <option value="true" {{#ifEquals user.newsletter true}}selected{{/ifEquals}}>Sim</option>
                <option value="false" {{#ifEquals user.newsletter false}}selected{{/ifEquals}}>Não</option>
            </select>
        </div>
</div>


{{!-- Opções --}}
{{!-- <div style="text-align: center;">
    <h3>Aceitou receber notificações?</h3>
    <select name="newsletter" id="newsletter">
        <option value="true" {{#ifEquals user.newsletter true}}selected{{/ifEquals}}>Sim</option>
        <option value="false" {{#ifEquals user.newsletter false}}selected{{/ifEquals}}>Não</option>
    </select>
</div> --}}